* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgb(13 30 125);
    --secondary: rgb(20 106 255);
    --ternory: rgb(234 117 79);
    --forth: rgb(76 104 215);
    --fifth: #ffffff;
}

body {
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: 'Playfair Display';
}

a {
    cursor: pointer;
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

ul {
    list-style: none;
}

img {
    display: block;
}

.container {
    max-width: 1038px;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
}

.self-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 20px;
}

.self-left p {
    font-size: 22px;
    font-weight: 500;
    color: var(--primary);
    max-width: 730px;
    margin-top: 20px;
}

.self-left h2 {
    font-size: 47px;
    font-weight: 700;
    color: var(--primary);
    margin-top: 50px;
}

.self-left ul {
    list-style: disc;
    padding-left: 30px;
}

.self-left li {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary);
    margin-top: 20px;
    max-width: 630px;
}

.self-left h3 {
    font-size: 26px;
    font-weight: 700;
    color: var(--primary);
    margin-top: 50px;
}

.self-left img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 40px;
}

.self-right {
    overflow-y: auto;
    position: sticky;
    top: 100px;
    width: 100%;
    max-width: 300px;
    max-height: fit-content;
    margin-bottom: 100px;
}

.self-right h4 {
    font-size: 26px;
    font-weight: 700;
    color: var(--primary);
    white-space: nowrap;
    margin-top: 20px;
}

.self-right a {
    font-size: 22px;
    font-weight: 600;
    color: var(--primary);
    border-left: 2px solid transparent;
    margin-top: 20px;
}

.self-right ul:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.self-right ul:nth-of-type(2) svg {
    width: 30px;
    height: 30px;
    display: flex;
}

.self-right ul:nth-of-type(2) a {
    color: var(--secondary);
    border: 2px solid rgba(20, 106, 255, 0.446);
    border-radius: 30px;
    padding: 15px;
    transition: all 0.3s ease-in-out;
}

.self-right ul:nth-of-type(2) a:hover {
    background-color: var(--secondary);
    color: var(--fifth);
}

.self-right div {
    background-color: var(--forth);
    padding: 20px;
    border-radius: 10px;
    margin-top: 60px;
}

.self-right div>h4 {
    font-size: 30px;
    font-weight: 400;
    color: var(--fifth);
    margin-top: 0;
}


.self-right>div:last-of-type li {
    border: 2px solid  #ffffff6c;
    border-radius: 10px;
    margin-top: 30px;
    padding: 15px;
}

.self-right>div:last-of-type div{
    margin-top: 10px;
    padding: 0;
    display: flex;
    gap: 10px;
}

.self-right>div:last-of-type h5{
    font-size: 26px;
    font-weight: 500;
    color: var(--fifth);
}

.self-right>div:last-of-type svg{
    width: 30px;
    height: 30px;
    color: var(--fifth);
}

.self-right>div:last-of-type span{
    font-size: 20px;
    font-weight: 500;
    color: var(--fifth);
}

.self-right ul li a.active {
    border-left: 3px solid var(--ternory);
    transition:  border 0.3s ease-in-out;
  }
  
  .self-left h2 {
    scroll-margin-top: 100px; 
  }
  